<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/book-list.css" />
    <title>Document</title>
  </head>
  <body>
    <section class="book_list section">    
        <div class="container">
            <ul class="category-list js-container-category"></ul>
            <h2 class="title">Best Sellers <span class="books">Books</span></h2>  
            <ul  class="js-list">
           <!-- <li class="itemList">
                <p class="categoryName">Combined Print and E-Book Fiction</p>
                <ul class="categoryMenu list">
                    <li class="itemImage" ><img class="bookImage" 
                        src="./images/4-Book List/Rectangle-1.1.jpg"
                        alt="Best-selling" 
                        width="335" height="485">
                        <h3 class="bookTitle">I WILL FIND YOU</h3>
                        <p class="authorName">Harlan Coben</p></li>
                    <li class="itemImage"><img class="bookImage" 
                        src="./images/4-Book List/Rectangle-1.1.jpg"
                        alt="Best-selling" 
                        width="335" height="485">
                        <h3 class="bookTitle">HELLO BEAUTIFUL</h3>
                        <p class="authorName">Ann Napolitano</p></li>
                    <li class="itemImage"><img class="bookImage" 
                        src="./images/4-Book List/Rectangle-1.2.jpg"
                        alt="Best-selling" 
                        width="335" height="485">
                        <h3 class="bookTitle">IT STARTS WITH US</h3>
                        <p class="authorName">Colleen Hoover</p></li>
                    <li class="itemImage"><img class="bookImage" 
                        src="./images/4-Book List/Rectangle-1.3.jpg"
                        alt="Best-selling" 
                        width="335" height="485">
                        <h3 class="bookTitle">IT ENDS WITH US</h3>
                        <p class="authorName">Colleen Hoover</p></li>
                    <li class="itemImage"><img class="bookImage" 
                        src="./images/4-Book List/Rectangle-1.4.jpg"
                        alt="Best-selling" 
                        width="335" height="485">
                        <h3 class="bookTitle">DAISY JONES & THE SIX</h3>
                        <p class="authorName">Taylor Jenkins Reid</p></li> -->
                </ul>
                <button class="seeMoreBtn " type="button">See more</button>
            </li>
            </ul>
        </div>
    </section>
    <script src="./js/style.js" type="module"></script>
  </body>
</html>
