<section class="book_list section">    
    <div class="container">
        <ul class="category-list js-container-category"></ul>
        <h2 class="title">Best Sellers <span class="books">Books</span></h2>  
        <ul  class="js-list">
        <!-- <li class="item-list">
            <p class="category-name">Combined Print and E-Book Fiction</p>
            <ul class="category-menu list">
                <li class="item-image" ><img class="book-image" 
                    src="./images/4-Book List/Rectangle-1.1.jpg"
                    alt="Best-selling" 
                    width="335" height="485">
                    <h3 class="book-title">I WILL FIND YOU</h3>
                    <p class="author-name">Harlan Coben</p></li>
            </ul>
            <button class="see-more-btn " type="button">See more</button>
        </li> -->
        </ul>
    </div>
</section>
<script src="./js/style.js" type="module"></script>
</body>
</html>




