<!-- <link rel="stylesheet" href="./css/pop-up.css"></link>
<link rel="stylesheet" href="./css/variables.css">
</link>
<link
  href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,700;1,9..40,400&family=Epilogue:wght@300;400;600&display=swap"
  rel="stylesheet" /> -->
  
  <!-- <h2 class="title-modal">Pop-Up</h2> -->

  <!-- кнопка виклику модального меню -->
  <button type="button" class="catalog-button" data-modal-open>
    Натисни на мене
  </button>

<div class="backdrop is-hidden" data-modal>

  <div class="modal">
    <!-- кнопка закриття модального вікна -->
    <button type="button" class="btn-modal-close" data-modal-close>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M18 6L6 18M6 6L18 18" stroke="#111111" stroke-width="2.5" stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>
    </button>

    <!-- картка обраної книги -->

    <div class="selected-book">
      <img class="cover-book" src="./images/6-Pop Up/cover.png" alt="обкладинка книжки">
      <!-- опис -->
      <div class="description-book">
        <h3 class="name-book">Hello Beautiful</h3>
        <p class="author-book">Ann Napolitano</p>
        <p class="abstract-book">In a homage to Louisa May Alcott’s “Little Women,” a young man’s dark past resurfaces as he gets to the know the family
        of his college sweetheart.</p>
        <ul class="links-tradeplatforms">
          <li class="link-item" href="">
            <!-- <svg height="38">
              <use href="./images/icons-sprite/symbol-defs.svg#icon-btn-burger"></use>
            </svg> -->
            <img src="./images/6-Pop Up/amazon@1x.png" alt="">
            
          </li>
          <li class="link-item" href="">
            <img src="./images/6-Pop Up/book.png" alt="">
          </li>
          <li class="link-item" href="">
            <img src="./images/6-Pop Up/bookShop@1x.png" alt="">
          </li>
        </ul>
      </div>      
    </div> 
    <button class="add-remove-btn">Add to shoping list</button>
    <span class="congratulations">Сongratulations! You have added the book to the shopping list. To delete, press the button "Remove from the shopping
    list".</span>
  </div>
</div>
  

<script type="module" src="./js/modal.js"></script>