  <!-- <h2 class="title-modal">Pop-Up</h2> -->

  <!-- кнопка виклику модального меню-> на будь-яку книгу для відкриття додати "data-modal-open" -->

  <button type="button" class="catalog-button" id="643282b2e85766588626a0fc" data-modal-open>
    Натисни на мене
  </button>
 

<div class="backdrop is-hidden" data-modal>
  <div class="modal" id="bookId">
    <!-- кнопка закриття модального вікна -->
    <button type="button" class="btn-modal-close" data-modal-close>
      <svg width="24" height="24">
        <use href="./images/icons-sprite/symbol-defs.svg#icon-x-closer"></use>
      </svg>
    </button>

    <!-- картка обраної книги -->
    <div class="selected-book"></div> 
    <button class="add-remove-btn"></button>
    <span class="congratulations">Сongratulations! You have added the book to the shopping list. To delete, press the button "Remove from the shopping
    list".</span>
  </div>
</div>  

<script type="module" src="./js/modal.js"></script>
