<section class="support-ukraine">
  <div class="funds__container">
    <!-- <h2 class="section__title visually-hidden">Support Ukraine</h2> -->
    <img class="support_Ukraine" src="./images/3-Support Ukraine/support_Ukraine.png" alt="support-ukraine">
  </div>

  <div class="funds container support-ukraine-container">
    <ul class="funds__list" id="fundsList">
      <li class="fund__li">
        <a class="fund__icon" href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
          target="_blank" aria-label="Save the Children">
          <p class="fund_numder">01</p>
          <img class="fund__company" src="./images/3-Support Ukraine/fund_1.png" alt="fund_1">
        </a>
      </li>

      <li class="fund__li">
        <a class="fund__icon" href="https://www.projecthope.org/country/ukraine/" target="_blank"
          aria-label="Project HOPE">
          <p class="fund_numder">02</p>
          <img class="fund__company" src="./images/3-Support Ukraine/fund_2.png" alt="fund_2">
        </a>
      </li>

      <li class="fund__li">
        <a class="fund__icon" href="https://internationalmedicalcorps.org/country/ukraine/" target="_blank"
          aria-label="International Medical Corps">
          <p class="fund_numder">03</p>
          <img class="fund__company" src="./images/3-Support Ukraine/fund_3.png" alt="fund_3">
        </a>
      </li>

      <li class="fund__li">
        <a class="fund__icon" href="https://www.razomforukraine.org/" target="_blank" aria-label="RAZOM">
          <p class="fund_numder">04</p>
          <img class="fund__company" src="./images/3-Support Ukraine/fund_4.png" alt="fund_4">
        </a>
      </li>

      <li class="fund__li">
        <a class="fund__icon" href="https://www.actionagainsthunger.org/location/europe/ukraine/" target="_blank"
          aria-label="Action against hunger">
          <p class="fund_numder">05</p>
          <img class="fund__company" src="./images/3-Support Ukraine/fund_5.png" alt="fund_5">
        </a>
      </li>

      <li class="fund__li">
        <a class="fund__icon" href="https://prytulafoundation.org/en" target="_blank"
          aria-label="Serhiy Prytula Charity Foundation">
          <p class="fund_numder">06</p>
          <img class="fund__company" src="./images/3-Support Ukraine/fund_6.png" alt="fund_6">
        </a>
      </li>

      <li class="fund__li">
        <a class="fund__icon" href="https://u24.gov.ua/uk" target="_blank" aria-label="UNITED24">
          <p class="fund_numder">07</p>
          <img class="fund__company" src="./images/3-Support Ukraine/fund_7.png" alt="fund_7">
        </a>
      </li>

      <li class="fund__li">
        <a class="fund__icon" href="https://www.msf.org/ukraine" target="_blank" aria-label="Medicins Sans Frontieres">
          <p class="fund_numder">08</p>
          <img class="fund__company" src="./images/3-Support Ukraine/fund_8.png" alt="fund_8">
        </a>
      </li>

      <li class="fund__li">
        <a class="fund__icon" href="https://www.wvi.org/emergencies/ukraine" target="_blank" aria-label="World vision">
          <p class="fund_numder">09</p>
          <img class="fund__company" src="./images/3-Support Ukraine/fund_9.png" alt="fund_9">
        </a>
      </li>
    </ul>
  </div>
  <button class="slider-support-ukraine" id="sliderBtn">
    <img class="slider_btn hidden" src="./images/3-Support Ukraine/slider.png" alt="slider">
  </button>
</section>