.section.book_list {
  padding: 40px 0px 80px;
}
.container {
  margin: 0 auto;
  padding: 0 20px;
}
.title {
  color: #111111;
  font-size: 32px;
  line-height: 1.18; /* 38/32 */
  margin-bottom: 40px;
}

body.dark-theme .title {
  color: #ffffff;
}

.books {
  color: #4f2ee8;
  font-size: 32px;
  width: 260px;
  height: 38px;
  line-height: 1;
}
.author-name {
  color: #b4afaf;
  font-size: 12px;
  line-height: 14px;
  margin-top: 4px;
}
.book-title {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #111111;
  margin-top: 14px;
}

body.dark-theme .book-title {
  color: #ffffff;
}

.category-name {
  font-size: 14px;
  line-height: 1, 28; /* 18/14 */
  text-transform: uppercase;
  color: #b4afaf;
  margin-bottom: 18px;
}

.item-image {
  cursor: pointer;
}

.item-list {
  width: 100%;
}
.item-list:not(:last-child) {
  margin-bottom: 40px;
}
.item-image.item-image:not(:first-child) {
  margin-top: 40px;
}
.see-more-btn {
  display: block;
  margin-left: auto;
  margin-top: 8px;
  font-size: 14px;
  line-height: 1.28; /* 18/14 */
  letter-spacing: -0.01em;
  color: #111111;
  padding: 14px 28px;
  border-radius: 40px;
  background-color: transparent;
  border-color: #4f2ee8;
  transition: color 300ms linear, background-color 300ms linear,
    border-color 300ms linear;
}
.see-more-btn:hover,
.see-more-btn:focus {
  color: #fff;
  background-color: #4f2ee8;
  border-color: transparent;
}

body.dark-theme .see-more-btn {
  color: #ffffff;
}

.category-menu.js-add-list {
  padding-left: 0;
}

.btn-up {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #4f2ee8;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.btn-up::before {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(-45deg);
  top: 40%;
  left: 35%;
}
.btn-up_hiden {
  display: none;
}
.btn-up:hover {
  background-color: rgba(79, 46, 232, 0.7);
}

@media screen and (min-width: 768px) {
  .section.book_list {
    padding: 98px 0px 100px;
  }

  .title {
    margin-top: 0;
  }

  .category-name {
    margin-top: 0;
  }

  .container {
    width: 100%;
    max-width: 768px;
    padding: 0 32px;
    margin: 0 auto;
  }
  .item-image {
    flex-basis: calc((100% - 2 * 25px) / 3);
    margin-top: 0;
  }
  .js-list,
  .category-menu {
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
  }
  .js-list {
    row-gap: 40px;
  }
  .item-list:not(:last-child) {
    margin-bottom: 0px;
  }
  .item-image.item-image:not(:first-child) {
    margin-top: 0px;
  }

  .category-menu {
    justify-content: space-between;
  }
  .book-image {
    width: 218px;
    height: 316px;
    object-fit: cover;
    border-radius: 8px;
  }
  .see-more-btn {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .section.book_list {
    padding: 0px 0px 100px 40px;
  }

  .container {
    max-width: 1440px;
    padding: 0 38px;
  }
  .container.book-container {
    padding-left: 0;
  }
  .item-image {
    flex-basis: calc((100% - 4 * 15px) / 5);
  }
  .book-image {
    width: 180px;
    height: 256px;
  }
  .js-list,
  .category-menu {
    column-gap: 15px;
    max-width: 996px;
  }
  .book-container {
    display: block;
    gap: 40px;
  }
  .see-more-btn {
    margin-top: 32px;
  }
}

@media (max-width: 767px) {
  .js-add-list .item-image:not(:first-child) {
    display: none;
  }
  .container {
    max-width: 375px;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .js-add-list .item-image:nth-child(n + 4) {
    display: none;
  }
}
