:root {
  --header-bg-color-light: #f9f9f9;
  --header-bg-color-dark: #111111;
  --header-border-color-light: #000;
  --header-border-color-dark: #fff;
}

ul {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

.header {
  /* position: absolute; */
  max-width: 1440px;
  padding: 18px 0;
  box-sizing: border-box;
  transition: 0.4s;
  margin: 0 auto;
}

.curent-link {
  font-weight: 700;
  border-radius: 36px;
  padding: 8px 16px;
  color: #111111;
  background-color: #eac645;
}

.curent-link.shoping-list::after {
  content: url(../images/1-Header/cart-black.svg);
  margin-left: 4px;
  width: 20px;
  height: 20px;
  
}

.header-container {
  display: flex;
  align-items: center;
}

.container {
  padding: 0 20px;
  margin: auto;
}

.switch-button {
  display: flex;
  align-items: center;
}

.header-nav {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.header-list {
  display: none;
}

.logo img {
  width: 100px;
  height: 28px;
}

.logo {
  display: flex;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav li {
  margin-right: 20px;
}

.shoping-list {
  display: flex;
  align-items: center;
}

.shoping-list::after {
  margin-left: 4px;
  content: url(../images/1-Header/cart.svg);
  width: 20px;
  height: 20px;
}

.mobile-menu {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 64px;
  background: radial-gradient(circle at top, #4f2ee8 12%, #ffffff 150%);
  opacity: 1;
  margin: -2px;
  transition: 0.3s;
}

.menu-container-list {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin-top: 183px;
  max-width: 768px;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.menu-list li a {
  text-decoration: none;
}

.menu-list-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #ffffff;
}

.svg-books {
  content: url(../images/1-Header/group-6.png);
  position: fixed;
  width: 100%;
  height: auto;
  bottom: 0;
  z-index: 0;
}

.header-btn-mobil-menu {
  display: flex;
  background-color: transparent;
  background-image: url(../images/1-Header/align-left.svg);
  stroke: #111111;
  width: 28px;
  height: 28px;
  padding: 0;
  line-height: 0;
  border: transparent;
  transition: 0.2s;
}

.header-btn-mobil-menu-close {
  background-image: url(../images/1-Header/x-close.svg);

  width: 28px;
  height: 28px;
  padding: 0;
  line-height: 0;
  background-color: transparent;
  border: transparent;
  transition: 0.2s;
  position: absolute;
  top: 0;
  right: 0;
}

.header-btns-container {
  position: relative;
  width: 28px;
  height: 28px;
}

.dark-theme .header-btn-mobil-menu {
  background-image: url(../images/1-Header/align-left-dark.svg);
}

.dark-theme .header-btn-mobil-menu-close {
  background-image: url(../images/1-Header/x-close-white.svg);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.theme-switcher button {
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
}

.theme-switcher {
  display: flex;
  width: 40px;
  height: 24px;
  margin-right: 14px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.switch {
  position: relative;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 30px;
  width: 30px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: #4f2ee8;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4f2ee8;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(14px);
  background: white url('https://i.ibb.co/FxzBYR9/night.png');
  background-repeat: no-repeat;
  background-position: center;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.burger-menu {
  display: none;
  cursor: pointer;
}

.burger-bar {
  display: block;
  width: 30px;
  height: 3px;
  stroke: #111111;
  margin: 6px 0;
}

header.dark-theme {
  background-color: #111111;
  transition: background-color 0.4s;
}

body {
  background-color: #ffffff;
  transition: background-color 0.4s;
}

body.dark-theme {
  background-color: #202024;
  color: #fff;
  transition: background-color 0.4s;
  /* transition: color 0.4s; */
}

.sign-up-btn {
  display: none;
}

.header {
  padding: 0;
}
.mobile-menu {
  z-index: 1;
  margin-top: -64px;
}

.header-container {
  z-index: 2;
  position: relative;
  background-color: var(--header-bg-color-light);
  border: 2px solid var(--header-border-color-light);
  border-radius: 0 0 8px 8px;
  padding: 18px 20px;
  /* transition */
}

@media screen and (min-width: 768px) {
  .header {
    padding: 0;
  }

  .header-container {
    padding: 0 32px;
  }

  .curent-link {
    font-weight: 700;
  }

  .header-content {
    display: flex;
  }

  .logo {
    align-items: center;
  }

  .header-list {
    display: flex;
    margin-left: 40px;
    align-items: center;
  }

  .shoping-list::after {
    content: url(../images/1-Header/cart-black.svg);
  }

    .curent-link .shoping-list::after {
      content: url(../images/1-Header/cart-black.svg);
      margin-left: 4px;
      width: 20px;
      height: 20px;
  
    }

  .header-btn-mobil-menu {
    display: none;
  }

  .menu-list-nav {
    color: #111111;
  }

  .dark-theme .shoping-list::after {
    content: url(../images/1-Header/cart.svg);
  }

  .dark-theme .curent-link.shoping-list::after {
    content: url(../images/1-Header/cart-black.svg);
  }

  .dark-theme .menu-list-nav {
    color: #ffffff;
  }

  .sign-up {
    padding: 14px 0;
  }

  .sign-up-btn {
    display: flex;
    width: 184px;
    height: 48px;
    border-radius: 18px;
    border: solid 2px #111111;
    justify-content: start;
    align-items: center;
    padding: 14px;
    color: #ffffff;
    background-color: #4f2ee8;
    position: relative;
    cursor: pointer;
  }

  .sign-up-btn::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../images/1-Header/arrow-narrow-right.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
  }

  .theme-switcher {
    margin-right: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .header-list {
    margin-left: 76px;
  }

    .header-container {
      padding: 0 24px;
    }

}
