@media screen and (min-width: 768px) {
  .section {
    padding: 64px 0;
  }

  .container {
    width: 100%;
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    padding: 80px 0;
  }

  .container {
    max-width: 1440px;
    padding: 0 38px;
  }

  .main-container {
    margin: 0 auto;
    width: 1440px;
    display: flex;
    justify-content: left;
    padding-top: 40px;
  }

  div.categories-and-support {
    width: auto;
    padding-right: 0px;
    margin: 0px;
  }

  .book_list {
    padding: 0;
    margin: 0;
  }

  ul.js-list {
    padding-left: 0;
  }

  section.all_categories {
    padding: 0;
    margin: 0;
    height: 472px;
  }

  section.support-ukraine {
    margin: 86px 0 0 0;
  }
}
