/*Resets*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}
.link {
  text-decoration: none;
  font-style: normal;
}
/* -----------Resets end----------*/

/*--------------Back drop---------*/
/* .backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;

  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(17, 17, 17, 0.4);
} */

/* .backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: scale(0.5);
} */

.basicLightbox {
  /* height: 100%; */
  background: rgba(17, 17, 17, 0.4);
  
}

/* modal*/

.basicLightbox__placeholder {
  position: absolute;
  width: 335px;
  /* height: 762px;  */
  padding: 40px 24px;

  display: flex;
  flex-direction: column; 
  align-items: center;
 

  border-radius: 18px;
  border: 2px solid #111;
  background: #fff;
  transform: translate(-50%, -50%) scale(1);
}
.dark-theme .basicLightbox__placeholder{
  border-radius: 18px;
    border: 2px solid #FFF;
    background: #202024;
}
/* .icon-close {
    width: 12px;
    height: 12px;
} */

.btn-modal-close {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 12px;
  right: 12px;
  border: none;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selected-book-modal {
  margin-bottom: 40px;
}
.cover-book-modal {
  width: 287px;
  height: 408px;
  margin-bottom: 14px;
}

.name-book-modal {
  color: #111;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.125;
  letter-spacing: -0.64px;
  margin-bottom: 4px;
  text-transform: uppercase;
}
.dark-theme .name-book-modal{
color: #fff;
}

.author-book-modal {
  color: #b4afaf;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.166;
  letter-spacing: -0.48px;
  margin-bottom: 18px;
}

.abstract-book-modal {
  color: #111;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.56px;

  margin-bottom: 14px;
}
.dark-theme .abstract-book-modal{
color: #fff;
}

.links-tradeplatforms-modal {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  width: 36px;
}

.add-remove-btn {
  width: 211px;

  display: flex-block;
  padding: 14px 23px;
  align-items: flex-start;

  color: #111;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.14px;
  text-transform: uppercase;

  border-radius: 40px;
  border: 2px solid #4f2ee8;

  margin-bottom: 8px;
}

.dark-theme .add-remove-btn{
background-color:#202024;
color:#fff;
}

.congratulations-modal {
  /* display: inline-flexbox; */
  color: rgba(17, 17, 17, 0.5);
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.4px;
  width: 242px;
}
.dark-theme .congratulations-modal{
  color: #fff;
}
/*медіа правила*/
@media screen and (min-width: 768px) {
  .basicLightbox__placeholder {
    width: 579px;
    padding: 40px;
  }
  .btn-modal-close {
    top: 24px;
    right: 24px;
  }
  .selected-book-modal {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
  }
  .cover-book-modal {
    height: 281px;
    width: 192px;
    margin-right: 24px;
  }
  .name-book-modal {
    color: #111;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: -0.96px;

    margin-bottom: 8px;
  }
  .author-book-modal {
    color: #b4afaf;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.56px;
    margin-bottom: 20px;
  }
  .abstract-book-modal {
    margin-bottom: 20px;
  }
  
  .add-remove-btn {
    width: 100%;
  }

  .congratulations-modal {
    width: 324px;
  }
}
