.shopping-list-header {
  margin-bottom: 40px;
  margin-top: 40px;
  font-size: 32px;
  font-weight: 700;
  color: #111111;
}

.js-books {
  display: flex;
  flex-direction: column;
  gap: 20px;

  align-items: center;
}

.pagination {
  display: flex;
  gap: 14px;

  padding-bottom: 40px;
}

.pagination-btns,
.pagination-numer-btns {
  display: flex;
  gap: 8px;
}

.pagination-btn {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);

  width: 38px;
  height: 38px;

  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;

  border-radius: 50%;
  border-color: black;
  border-width: 1px;
}

.first-btn,
.prev-btn,
.prev-numer-btn {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(17, 17, 17, 1);
}

.first-btn,
.prev-btn,
.next-btn,
.last-btn {
  font-weight: 400;
}

.next-btn,
.last-btn {
  background-color: rgba(234, 198, 69, 1);
}

body.dark-theme .shopping-list-header {
  color: #ffffff;
}
.empty-shopping-list-div {
  padding: 80px 55px;
}

.empty-shopping-list-msg {
  text-align: center;
  margin-bottom: 14px;
  color: rgb(0, 0, 0, 0.6);
}
.empty-shopping-list-img {
  width: 265px;
  height: 198px;
}

.title-color {
  color: #4f2ee8;
}

.support-ukraine {
  display: none;
}

.shopping-book-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.shoping-book-card {
  display: flex;
  gap: 14px;
  width: 335px;
  height: 170px;
  position: relative;

  padding: 14px;

  border-style: solid;
  border-width: 2px;
  border-color: #4f2ee866;
  border-radius: 16px;
}

.shoping-book-card-img > img {
  width: 100px;
  height: 142px;
}

.shoping-book-card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shoping-book-card-ganre {
  color: rgba(180, 175, 175, 1);
  font-size: 12px;
  font-weight: 400;

  padding-bottom: 4px;

  width: 144px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.shoping-book-card-title_and_ganre {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.shoping-book-card-title {
  color: rgba(17, 17, 17, 1);
  font-size: 16px;
  font-weight: 700;

  width: 144px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body.dark-theme .shoping-book-card-title {
  color: #ffffff;
}

.shoping-book-card-description {
  color: rgba(17, 17, 17, 1);
  font-size: 14px;
  font-weight: 400;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
body.dark-theme .shoping-book-card-description {
  color: #ffffff;
}

.shoping-book-card-author {
  color: rgba(180, 175, 175, 1);
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
}

.shoping-list-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 28px;
  height: 28px;
  background-color: #4f2ee8;

  background-image: url(../images/5-Shoping\ List/icon-basket.png);
  background-repeat: no-repeat;
  background-position: center;

  stroke: #ffffff;
  fill: #4f2ee8;
  border-radius: 50%;
  border: transparent;
}

.shoping-list-images {
  position: absolute;
  bottom: 14px;
  right: 14px;
}

.list-images {
  display: flex;
  gap: 8px;
  align-items: center;
}

.image-link {
  display: block;
}

.image-link-amazon {
  background-image: url(../images/5-Shoping\ List/image-amazon.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 32px;
  height: 11px;
}

.image-link-openBook {
  background-image: url(../images/5-Shoping\ List/image-open-book.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
}

.image-link-bookShop {
  background-image: url(../images/5-Shoping\ List/image-book-shop.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
}

@media screen and (min-width: 768px) {
  .pagination {
    gap: 24px;
  }
  .pagination-btn {
    width: 44px;
    height: 44px;
  }

  .shopping-list-header {
    font-size: 48px;
  }

  .shopping-list.section {
    padding-top: 0px;
  }

  .empty-shopping-list-div {
    width: 437px;
    padding-top: 100px;
    margin-inline: auto;
  }

  .empty-shopping-list-msg {
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 0;
  }

  .empty-shopping-list-img {
    width: 322px;
    height: 241px;
  }

  .shoping-book-card {
    width: 704px;
    height: 213px;

    padding: 24px;

    gap: 24px;
  }

  .shoping-book-card-img > img {
    width: 116px;
    height: 165px;
  }

  .shoping-book-card-ganre {
    padding-bottom: 10px;
  }

  .image-link-bookShop {
    width: 32px;
    height: 30px;
  }

  .image-link-openBook {
    width: 28px;
    height: 27px;
  }

  .image-link-amazon {
    width: 43px;
    height: 15px;
  }

  .shoping-list-images {
    bottom: 24px;
    right: 24px;
  }

  .shoping-list-btn {
    top: 24px;
    right: 24px;
    width: 34px;
    height: 34px;
  }

  .shoping-book-card-title,
  .shoping-book-card-ganre {
    width: 100%;
  }

  .list-images {
    gap: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .shopping-list-div {
    width: 996px;
  }

  .container-shop {
    display: flex;
    justify-content: left;
    align-items: start;
    margin: 0 auto;
    padding: 0 24px;
    width: 1440px;
  }

  .shop-list-support-ukraine > section.support-ukraine {
    display: block;
    margin: 0px;
    margin-top: 0px;
  }
  div.shopping-list-div {
    padding-left: 40px;
  }
  .book-card-description {
    width: 808px;
  }

  .shopping-list-header {
    margin-top: 0;
  }

  .container-shop {
    margin-top: 40px;
  }

  .shoping-book-card {
    width: 996px;
  }

  .shoping-book-card-img > img {
    width: 116px;
    height: 165px;
  }

  .shoping-book-card-ganre {
    padding-bottom: 10px;
  }

  .list-images {
    gap: 20px;
  }
}
